<footer>
    <div class="main-content">
        <div class="left box">
            <h2>About us</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat blanditiis aut delectus. Maiores iusto quibusdam reprehenderit consectetur id aliquid eum neque deserunt voluptatibus, rerum minus sapiente eos rem assumenda soluta!</p>
                <div class="social">
                    <a href="#" style="--social-clr: #1877f2;"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" style="--social-clr: #1da1f2;"><i class="fab fa-twitter"></i></a>
                    <a href="#" style="--social-clr: #c32aa3;"><i class="fab fa-instagram"></i></a>
                    <a href="#" style="--social-clr: #ff0000;"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-location-dot"></span>
                    <span class="text">India</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone"></span>
                    <span class="text">+91 6371223344</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">satyabrata&#64;gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contact us</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email <span style="color: red;">*</span></div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message <span style="color: red;">*</span></div>
                        <textarea cols="25" rows="2" required></textarea>
                    </div>
                    <div class="contact-us-btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>