<h1>Food Bakery</h1>
<h2 class="h2">Veg 😍</h2>
<div class="food">
  <app-food [img]="img1" title="Food-1"></app-food>
  <app-food [img]="img2" title="Food-2"></app-food>
  <app-food [img]="img3" title="Food-3"></app-food>
  <app-food [img]="img4" title="Food-4"></app-food>
  <app-food [img]="img5" title="Food-5"></app-food>
</div>
<h2>Non-Veg 😜</h2>
<div class="food">
  <app-food [img]="img6" title="Food-6"></app-food>
  <app-food [img]="img7" title="Food-7"></app-food>
  <app-food [img]="img8" title="Food-8"></app-food>
  <app-food [img]="img9" title="Food-9"></app-food>
  <app-food [img]="img10" title="Food-10"></app-food>
</div>
<h2>Snacks 🤠</h2>
<div class="food">
  <app-food [img]="img11" title="Food-11"></app-food>
  <app-food [img]="img12" title="Food-12"></app-food>
  <app-food [img]="img13" title="Food-13"></app-food>
  <app-food [img]="img14" title="Food-14"></app-food>
  <app-food [img]="img15" title="Food-15"></app-food>
</div>